<div class="about-section">
  <div class="inner-container">
    <h1>About Us</h1>
    <p>Welcome to our butcher shop! We pride ourselves on providing the highest quality meats and exceptional
      customer
      service. Our team of experienced butchers is dedicated to delivering fresh, locally sourced products to our
      customers.</p>
    <p>With over 20 years of experience in the industry, we have built strong relationships with local farmers and
      suppliers to ensure that we offer only the best cuts of meat. Whether you're looking for premium steaks,
      flavorful sausages, or tender roasts, we have something for everyone.</p>
    <p>At our butcher shop, we believe in transparency and sustainability. We work closely with our suppliers to
      ensure ethical and responsible farming practices, so you can feel good about the products you purchase from
      us.
    </p>
    <p>Visit us today to experience the difference in quality and taste that our butcher shop has to offer. We look
      forward to serving you!</p>
  </div>
</div>
