<div class="text-animation">
  <h1>
    <span class="title">
      <span class="word">W</span>
      <span class="word">e</span>
      <span class="word">l</span>
      <span class="word">c</span>
      <span class="word">o</span>
      <span class="word">m</span>
      <span class="word">e</span>
      <span class="word"></span>
      <span class="word space">t</span>
      <span class="word">o</span>
    </span>
    <span class="title">
      <span class="word">B</span>
      <span class="word">u</span>
      <span class="word">t</span>
      <span class="word">c</span>
      <span class="word">h</span>
      <span class="word">e</span>
      <span class="word">r</span>
      <span class="word">s</span>
      <span class="word">h</span>
      <span class="word">o</span>
      <span class="word">p</span>
    </span>
    <span class="title">
    <span class="word">F</span>
    <span class="word">e</span>
    <span class="word">r</span>
    <span class="word">i</span>
    <span class="word">t</span>
    <span class="word">i</span>
    </span>
  </h1>
  <div class="scroll"></div>
</div>
